footer {
  text-align: center;
  margin-top: 30px;
  font-family: "PT Sans", sans-serif;
}

.city {
  font-size: 32px;
  font-weight: 500;
}

.date {
  font-size: 12px;
}

.time {
  font-size: 45px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #0001ee;
}

.container {
  width: 600px;
  background-color: rgba(33, 33, 33, 0.95);
  color: white;
  display: block;
  margin: 60px auto;
  margin-bottom: 10px;
  padding: 30px 0px 50px 50px;
  border-radius: 10px;
  font-family: "PT Sans", sans-serif;
  box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 29px;
}

.london {
  border-top: 1px solid white;
  width: 550px;
  line-height: 80px;
  letter-spacing: 1.5px;
}

.new-york {
  border-top: 1px solid white;
  width: 550px;
  line-height: 80px;
  letter-spacing: 1.5px;
}

.sydney {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 550px;
  line-height: 80px;
  letter-spacing: 1.5px;
}

.selected {
  width: 550px;
  line-height: 80px;
  border-top: 1px solid white;
  letter-spacing: 1.5px;
}

.display-countries {
  display: block;
  margin: 20px auto;
}

select {
  font-family: "PT Sans", sans-serif;

  padding: 5px 15px;
  width: 550px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.new-york,
.selected,
.london,
.sydney {
  display: flex;
  justify-content: space-between;
}

#date-london {
  position: relative;
  right: -40px;
}

#date-new-york {
  position: relative;
  right: -12px;
}

#date-sydney {
  position: relative;
  right: -42px;
}
